* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #72a787;
    color: #e1e1e1;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.estado {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    padding: 5px 0;
    margin: 5px 0 20px;
    font-size: 1.2rem;
    border: solid 1px #2f302f;
    border-radius: 0.3rem;
    background-color: #777272;
}

.cidade {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    padding: 5px 0;
    margin: 5px 0 20px;
    font-size: 1.2rem;
    border: solid 1px #2f302f;
    border-radius: 0.3rem;
    background-color: #777272;
}

.h2 {
    color: #2f302f;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}